{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Password Reset Sent" %} - Panties{% endblock %}

{% block content %}
<div class="columns is-centered">
  <div class="column is-5-tablet is-4-desktop">
    <div class="box" style="margin-top: 3rem;">
      <div class="has-text-centered mb-5">
        <span style="font-size: 3rem;">✉️</span>
        <h1 class="title is-3 mt-3">{% trans "Check Your Email" %}</h1>
        <p class="subtitle is-6 has-text-grey">Password reset instructions sent</p>
      </div>

      <div class="notification is-success is-light">
        <p>
          <i class="fas fa-check-circle mr-2"></i>
          {% blocktrans %}We have sent you an email with a link to reset your password. Please check your inbox.{% endblocktrans %}
        </p>
      </div>

      <div class="notification is-info is-light">
        <p class="mb-2">
          <strong>{% trans "Didn't receive the email?" %}</strong>
        </p>
        <ul style="margin-left: 1.5rem;">
          <li>{% trans "Check your spam folder" %}</li>
          <li>{% trans "Make sure you entered the correct email address" %}</li>
          <li>{% trans "Wait a few minutes and try again" %}</li>
        </ul>
      </div>

      <div class="buttons">
        <a class="button is-panties is-fullwidth" href="{% url 'account_login' %}">
          <span class="icon">
            <i class="fas fa-sign-in-alt"></i>
          </span>
          <span>{% trans "Back to Sign In" %}</span>
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
